<component name="ArtifactManager">
  <artifact type="war" name="springmvc_ch09_handlerinterceptor:war">
    <output-path>$PROJECT_DIR$/springmvc_ch09_handlerinterceptor/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_ch09_handlerinterceptor</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_ch09_handlerinterceptor-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_ch09_handlerinterceptor:war exploded" />
    </root>
  </artifact>
</component>