<component name="ArtifactManager">
  <artifact type="war" name="springmvc_ch07_forward_redirect:war">
    <output-path>$PROJECT_DIR$/springmvc_ch07_forward_redirect/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>springmvc_ch07_forward_redirect</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="springmvc_ch07_forward_redirect-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_ch07_forward_redirect:war exploded" />
    </root>
  </artifact>
</component>