<component name="ArtifactManager">
  <artifact type="war" name="springmvc_ch02_requestmapping:war">
    <output-path>$PROJECT_DIR$/springmvc_ch02_requestmapping/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc_ch02_requestmapping</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc_ch02_requestmapping-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_ch02_requestmapping:war exploded" />
    </root>
  </artifact>
</component>